# Python
_pycache_/
*.pyc
*.pyo
*.pyd
*.db

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# Docker
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Git
.idea/